body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6b6b6b17; ;
}

form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    margin: 50px auto;
    background-color: #6b6b6b17; ;
    padding: 50px;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#totalPrice, #discount {
    font-weight: bold;
    color: #ff5733;
}

/* Regras de mídia para tornar o formulário responsivo */
@media screen and (max-width: 500px) {
    form {
        width: 80%;
    }
}

@media screen and (max-width: 300px) {
    form {
        width: 95%;
    }
}
